#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	./bootstrap
	dh_auto_configure -- \
	    --with-pam \
	    --with-man=man \
	    --with-maildir=/var/mail \
	    --with-privsep-path=/var/empty \
	    --with-privsep-user=smtpd \
	    --with-queue-user=smtpq \
	    --with-filter-user=smtpf

override_dh_auto_clean:
	dh_auto_clean
	find . -name Makefile.in -exec rm -f {} \;
